@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,500italic,700,700italic,900,900italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  font-weight: 400;
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 59.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.text {
  letter-spacing: 0.05em;
  line-height: 1.4285714286;
}

.button {
  padding: 0.9375rem 2.1875rem;
  background-color: #fee251;
  color: #000;
  font-weight: 700;
  border-radius: 3.125rem;
  font-size: 1.125rem;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: #e6d26f;
  -webkit-box-shadow: 0 4px 8px #e6d26f;
          box-shadow: 0 4px 8px #e6d26f;
}

.main-block__swiper-pagination,
.swiper-pagination,
.content-editors__swiper-pagination {
  margin: 0 30px;
  color: #fafafc;
  font-size: 0.875rem;
}

.main-block__wrapper {
  height: 100vh;
}

.main-block__slider {
  height: 100vh;
  position: relative;
}

.main-block__swiper-button-next,
.main-block__swiper-button-prev,
.content-editors__swiper-button-prev,
.content-editors__swiper-button-next {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: 6;
  margin-right: 0.9375rem;
}

.main-block__swiper-button-next:after,
.content-editors__swiper-button-next:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"currentColor\" d=\"M15.4 19.4l-7-7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.8 12l5.6 5.6c.4.4.4 1 0 1.4-.4.4-1 .4-1.4 0z\"/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 15%;
  left: 15%;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-block__swiper-button-prev:after,
.content-editors__swiper-button-prev::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\"><path fill=\"currentColor\" d=\"M15.4 19.4l-7-7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.8 12l5.6 5.6c.4.4.4 1 0 1.4-.4.4-1 .4-1.4 0z\"/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-55%, -50%);
      -ms-transform: translate(-55%, -50%);
          transform: translate(-55%, -50%);
}

.main-block__slide {
  position: relative;
}

.swiper-pagination {
  white-space: nowrap;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #28272a;
  position: fixed;
  top: 0;
  z-index: 100;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.loader.loader_hide {
  opacity: 0;
}

.preload {
  border-radius: 50%;
  background-color: transparent;
  width: 7.5rem;
  height: 7.5rem;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  -webkit-box-shadow: inset -4px -5px 10px #fff2b1, inset 2px 0 10px #fee251, inset -2px 0 10px #fee251, 1px 1px 1px 1px #fee251, 2px 0 10px #fee251;
          box-shadow: inset -4px -5px 10px #fff2b1, inset 2px 0 10px #fee251, inset -2px 0 10px #fee251, 1px 1px 1px 1px #fee251, 2px 0 10px #fee251;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  color: #fff;
}

@supports (padding-right: clamp( 0.9375rem , -6.5625rem  +  15.625vw , 7.5rem )) {
  .header {
    padding-right: clamp( 0.9375rem , -6.5625rem  +  15.625vw , 7.5rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -6.5625rem  +  15.625vw , 7.5rem )) {
  .header {
    padding-right: calc(0.9375rem + 6.5625 * (100vw - 48rem) / 42);
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.3125rem;
  z-index: 50;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__menu {
  position: absolute;
  left: 0;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
}

.actions-header__collections {
  -webkit-transition: -webkit-text-decoration 0.3s ease 0s;
  transition: -webkit-text-decoration 0.3s ease 0s;
  -o-transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s;
  transition: text-decoration 0.3s ease 0s, -webkit-text-decoration 0.3s ease 0s;
}

.actions-header__collections::after {
  content: "";
  padding-right: 3.125rem;
  border-right: 2px solid #fff;
}

.actions-header__collections:hover {
  text-decoration: underline;
}

.actions-header__profile:hover {
  text-decoration: underline;
}

.profile-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-action__icon img {
  width: 1.875rem;
  height: 1.875rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  width: 16.875rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.125rem;
  font-size: 1rem;
  font-weight: 500;
  color: #c5c5c5;
  position: relative;
  padding-top: 5rem;
  padding-left: 3.75rem;
  display: flex;
  width: 16.875rem;
  height: calc(100vh - 90px);
  overflow: hidden;
  background-color: rgba(40, 39, 42, 0.6352941176);
}

.menu__item {
  position: relative;
}

.menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #fff;
}

.menu__link:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  padding-right: 4.375rem;
  border-top: 0.125rem solid #fff;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.menu__link_active {
  color: #fff;
}

.menu__link_active::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  padding-right: 4.375rem;
  border-top: 0.125rem solid #fff;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.icon-menu {
  display: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fee251;
}

.footer img {
  max-width: 100%;
}

.footer__copy {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #000;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.75rem;
}

@supports (padding-right: clamp( 0.9375rem , -13.59375rem  +  23.4375vw , 7.5rem )) {
  .footer-social {
    padding-right: clamp( 0.9375rem , -13.59375rem  +  23.4375vw , 7.5rem );
  }
}

@supports not (padding-right: clamp( 0.9375rem , -13.59375rem  +  23.4375vw , 7.5rem )) {
  .footer-social {
    padding-right: calc(0.9375rem + 6.5625 * (100vw - 62rem) / 28);
  }
}

.footer-social__link {
  width: 1.875rem;
  height: 1.875rem;
}

.footer-social__link svg {
  max-width: 100%;
}

.main-block {
  position: relative;
  height: 100vh;
  z-index: 4;
}

.main-block__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
}

@supports (margin-left: clamp( 18.75rem , 13.0357142857rem  +  11.9047619048vw , 23.75rem )) {
  .main-block__container {
    margin-left: clamp( 18.75rem , 13.0357142857rem  +  11.9047619048vw , 23.75rem );
  }
}

@supports not (margin-left: clamp( 18.75rem , 13.0357142857rem  +  11.9047619048vw , 23.75rem )) {
  .main-block__container {
    margin-left: calc(18.75rem + 5 * (100vw - 48rem) / 42);
  }
}

@supports (margin-right: clamp( 6.25rem , 4.8214285714rem  +  2.9761904762vw , 7.5rem )) {
  .main-block__container {
    margin-right: clamp( 6.25rem , 4.8214285714rem  +  2.9761904762vw , 7.5rem );
  }
}

@supports not (margin-right: clamp( 6.25rem , 4.8214285714rem  +  2.9761904762vw , 7.5rem )) {
  .main-block__container {
    margin-right: calc(6.25rem + 1.25 * (100vw - 48rem) / 42);
  }
}

.main-block__content {
  position: relative;
  z-index: 6;
}

@supports (padding-top: clamp( 9.375rem , 5.1325757576rem  +  21.2121212121vw , 18.125rem )) {
  .main-block__content {
    padding-top: clamp( 9.375rem , 5.1325757576rem  +  21.2121212121vw , 18.125rem );
  }
}

@supports not (padding-top: clamp( 9.375rem , 5.1325757576rem  +  21.2121212121vw , 18.125rem )) {
  .main-block__content {
    padding-top: calc(9.375rem + 8.75 * (100vw - 20rem) / 41.25);
  }
}

.main-block__cnt {
  position: relative;
  margin: 0 7.5rem 0 23.125rem;
  max-width: 59.375rem;
}

.main-block__actions {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  bottom: 1.875rem;
  left: 0;
  z-index: 6;
}

.main-block__swiper-button-next,
.main-block__swiper-button-prev {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main-block__swiper-pagination {
  white-space: nowrap;
}

.main-block__label {
  font-size: 1.125rem;
  margin-right: 1.875rem;
  white-space: nowrap;
}

.main-block__line_start {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35.625rem;
          flex: 0 1 35.625rem;
  height: 1px;
  background-color: #fafafc;
}

.main-block__line_end {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  background-color: #fafafc;
}

.content-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3.125rem;
}

.content-block__text {
  width: 20.625rem;
  margin-bottom: 3.125rem;
}

/***** End Section *****/

.spots {
  background-color: #28272a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (padding-top: clamp( 1.875rem , 0.6628787879rem  +  6.0606060606vw , 4.375rem )) {
  .spots {
    padding-top: clamp( 1.875rem , 0.6628787879rem  +  6.0606060606vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.6628787879rem  +  6.0606060606vw , 4.375rem )) {
  .spots {
    padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 41.25);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -1.7613636364rem  +  18.1818181818vw , 9.375rem )) {
  .spots {
    padding-bottom: clamp( 1.875rem , -1.7613636364rem  +  18.1818181818vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.7613636364rem  +  18.1818181818vw , 9.375rem )) {
  .spots {
    padding-bottom: calc(1.875rem + 7.5 * (100vw - 20rem) / 41.25);
  }
}

.block-spots {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.875rem;
          flex: 0 0 16.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block-spots__title {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.875rem;
  width: 6.875rem;
  text-align: end;
}

.block-spots__text {
  text-align: end;
  width: 8.125rem;
  margin-bottom: 7.8125rem;
}

.block-spots__action {
  position: relative;
  white-space: nowrap;
}

.block-spots__action::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: -6.875rem;
  height: 0.0625rem;
  width: 5.625rem;
  background-color: #fff;
  cursor: auto;
}

.spots-content {
  position: relative;
  max-width: 59.375rem;
  margin-left: 7.5rem;
}

.spots-content__slider {
  margin-bottom: 3.75rem;
}

@supports (padding-top: clamp( 1.875rem , 0.3598484848rem  +  7.5757575758vw , 5rem )) {
  .body-slide {
    padding-top: clamp( 1.875rem , 0.3598484848rem  +  7.5757575758vw , 5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 0.3598484848rem  +  7.5757575758vw , 5rem )) {
  .body-slide {
    padding-top: calc(1.875rem + 3.125 * (100vw - 20rem) / 41.25);
  }
}

.body-slide__image {
  margin-bottom: 2.5rem;
}

.body-slide__image img {
  max-width: 100%;
  width: 16.875rem;
  height: 16.875rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-slide__name {
  font-size: 1.75rem;
  line-height: 1.2;
  font-weight: 500;
}

.body-slide__label {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #68676a;
  margin-bottom: 1.875rem;
  font-weight: 500;
}

.body-slide__text {
  font-size: 0.875rem;
  width: 16.5625rem;
  margin-bottom: 2.5rem;
  font-weight: 400;
}

.body-slide__action {
  font-size: 1.125rem;
  color: #ecde93;
}

.info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 59.375rem;
}

.info-content__label {
  font-size: 1.125rem;
  margin-right: 1.875rem;
  white-space: nowrap;
}

.info-content__line_start {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42.5rem;
          flex: 0 1 42.5rem;
  height: 1px;
  background-color: #fafafc;
}

.info-content__line_end {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  background-color: #fafafc;
}

/***** End Section *****/

.above-the-sea {
  background-color: #28272a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (padding-bottom: clamp( 1.875rem , -2.0643939394rem  +  19.696969697vw , 10rem )) {
  .above-the-sea {
    padding-bottom: clamp( 1.875rem , -2.0643939394rem  +  19.696969697vw , 10rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -2.0643939394rem  +  19.696969697vw , 10rem )) {
  .above-the-sea {
    padding-bottom: calc(1.875rem + 8.125 * (100vw - 20rem) / 41.25);
  }
}

.above-the-sea__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.5rem;
          flex: 0 0 37.5rem;
}

.above-the-sea__image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (padding-left: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 7.5rem )) {
  .above-the-sea__body {
    padding-left: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 7.5rem );
  }
}

@supports not (padding-left: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 7.5rem )) {
  .above-the-sea__body {
    padding-left: calc(1.875rem + 5.625 * (100vw - 20rem) / 41.25);
  }
}

.body-above-the-sea__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3.125rem;
}

.body-above-the-sea__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 3.75rem;
}

.body-above-the-sea__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 21.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  margin-bottom: 3.75rem;
}

/***** End Section *****/

.collections {
  position: relative;
  background-color: #28272a;
}

.collections__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 4;
}

.collections__background img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.collections__cnt {
  position: relative;
  margin: 0 6.5625rem 0 15.9375rem;
  padding: 0rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 6;
}

.collections__title {
  margin-bottom: 3.125rem;
}

.collections__text {
  max-width: 22.1875rem;
  margin-bottom: 3.75rem;
}

.body-collections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.75rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2862745098);
}

.body-collections__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.75rem;
          flex: 0 0 48.75rem;
}

.body-collections__name {
  font-size: 1.5rem;
  font-weight: 700;
}

.body-collections__label {
  font-size: 1.25rem;
  font-weight: 700;
  color: #737e85;
  margin-bottom: 1.875rem;
}

.body-collections__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.875rem;
  max-width: 36.875rem;
  margin-bottom: 2.5rem;
}

.body-collections__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.875rem;
          flex: 0 0 16.875rem;
  margin: 0 auto;
  max-height: 16.875rem;
}

.body-collections__image img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/***** End Section *****/

.subscribe {
  position: relative;
  background-color: #28272a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 7.5rem )) {
  .subscribe {
    padding-top: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 7.5rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.8522727273rem  +  13.6363636364vw , 7.5rem )) {
  .subscribe {
    padding-top: calc(1.875rem + 5.625 * (100vw - 20rem) / 41.25);
  }
}

@supports (padding-bottom: clamp( 2.8125rem , -0.6723484848rem  +  17.4242424242vw , 10rem )) {
  .subscribe {
    padding-bottom: clamp( 2.8125rem , -0.6723484848rem  +  17.4242424242vw , 10rem );
  }
}

@supports not (padding-bottom: clamp( 2.8125rem , -0.6723484848rem  +  17.4242424242vw , 10rem )) {
  .subscribe {
    padding-bottom: calc(2.8125rem + 7.1875 * (100vw - 20rem) / 41.25);
  }
}

.subscribe img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-60%, -40%);
      -ms-transform: translate(-60%, -40%);
          transform: translate(-60%, -40%);
  width: 28.125rem;
  z-index: 1;
}

.subscribe__title {
  margin-bottom: 6.25rem;
  z-index: 2;
}

.subscribe form {
  position: relative;
  z-index: 2;
}

.subscribe__input {
  padding: 0.9375rem 0rem 0.9375rem 1.25rem;
  margin-right: 1.25rem;
  width: 24.375rem;
  border-radius: 30px;
}

.subscribe__button {
  padding: 1rem 2.25rem;
}

/***** End Section *****/

.editors {
  background-color: #28272a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (padding-bottom: clamp( 1.875rem , -2.0643939394rem  +  19.696969697vw , 10rem )) {
  .editors {
    padding-bottom: clamp( 1.875rem , -2.0643939394rem  +  19.696969697vw , 10rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -2.0643939394rem  +  19.696969697vw , 10rem )) {
  .editors {
    padding-bottom: calc(1.875rem + 8.125 * (100vw - 20rem) / 41.25);
  }
}

.block-editors {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.875rem;
          flex: 0 0 16.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block-editors__title {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.875rem;
  width: 6.875rem;
  text-align: end;
}

.block-editors__text {
  text-align: end;
  width: 8.125rem;
  margin-bottom: 7.8125rem;
}

.content-editors {
  position: relative;
  max-width: 59.375rem;
  margin-left: 7.5rem;
}

.content-editors__cnt {
  position: relative;
  max-width: 59.375rem;
}

.content-editors__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 3.75rem;
  z-index: 6;
}

.content-editors__swiper-button-prev {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.content-editors__swiper-button-next {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.content-editors__line_start {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35rem;
          flex: 0 1 35rem;
  height: 1px;
  background-color: #fafafc;
}

.content-editors__line_end {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  background-color: #fafafc;
}

.content-editors__swiper-pagination {
  white-space: nowrap;
}

.content-editors__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.75rem;
  height: 100%;
}

.content-editors__slide img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-editors__block-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.75rem;
     -moz-column-gap: 3.75rem;
          column-gap: 3.75rem;
  width: 100%;
}

.content-editors__main-image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.5rem;
          flex: 0 0 37.5rem;
  height: 37.5rem;
}

.content-editors__main-image img {
  max-width: 100%;
  height: 37.5rem;
}

.content-editors__main-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(40, 39, 42, 0.1529411765);
  padding: 1.875rem;
}

.content-editors__right-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.875rem;
          flex: 0 0 16.875rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.75rem;
  height: 37.5rem;
}

.content-editors__right-image img {
  max-width: 100%;
  height: 16.875rem;
}

.content-editors__bottom-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.75rem;
}

.content-editors .bottom-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16.875rem;
}

.content-editors .bottom-image__firts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.875rem;
          flex: 0 0 16.875rem;
}

.content-editors .bottom-image__firts img {
  width: 100%;
  height: 16.875rem;
}

.content-editors .bottom-image__second {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.5rem;
          flex: 0 0 37.5rem;
  height: 16.875rem;
}

.content-editors .bottom-image__second img {
  width: 100%;
  height: 16.875rem;
}

.content-editors .main-info__title {
  font-size: 1.75rem;
  line-height: 1.2;
  font-weight: 500;
}

.content-editors .main-info__subtitle {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #b8b8b8;
  margin-bottom: 1.875rem;
  font-weight: 500;
}

.content-editors .main-info__text {
  font-size: 0.875rem;
  font-weight: 400;
}

/***** End Section *****/

.spollers {
  position: relative;
  margin: 0 30px;
  color: #fafafc;
  font-size: 0.875rem;
  white-space: nowrap;
}

.spollers__body {
  position: absolute;
  padding: 0.9375rem 1.875rem;
}

.spollers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.spollers__link {
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.spollers__link:hover {
  color: #eeff00;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 90.0625em) {
  .body-above-the-sea__text {
    max-width: 100%;
  }

  .collections__cnt {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0rem 0.9375rem;
  }

  .content-editors {
    margin: 0 auto;
  }
}

@media (min-width: 90em) {
  .main-block__cnt {
    max-width: 100%;
  }

  .spots-content {
    margin: 0 6.25rem;
    max-width: 100%;
    overflow: hidden;
  }

  .info-content {
    max-width: 100%;
  }

  .content-editors__cnt {
    max-width: 100%;
  }
}

@media (max-width: 75em) {
  .spots {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .spots__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block-spots {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1.875rem;
    padding: 0rem 0.9375rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block-spots__title {
    margin-bottom: 0rem;
    white-space: nowrap;
    width: auto;
    text-align: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-spots__text {
    margin-bottom: 0rem;
    width: auto;
    text-align: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-spots__action::before {
    display: none;
  }

  .spots-content {
    max-width: 100%;
    margin: 0 auto;
  }

@supports (padding-left: clamp( 0.9375rem , -1.6382575758rem  +  12.8787878788vw , 6.25rem )) {
    .spots-content {
      padding-left: clamp( 0.9375rem , -1.6382575758rem  +  12.8787878788vw , 6.25rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -1.6382575758rem  +  12.8787878788vw , 6.25rem )) {
    .spots-content {
      padding-left: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 41.25);
    }
}

@supports (padding-right: clamp( 0.9375rem , -1.6382575758rem  +  12.8787878788vw , 6.25rem )) {
    .spots-content {
      padding-right: clamp( 0.9375rem , -1.6382575758rem  +  12.8787878788vw , 6.25rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -1.6382575758rem  +  12.8787878788vw , 6.25rem )) {
    .spots-content {
      padding-right: calc(0.9375rem + 5.3125 * (100vw - 20rem) / 41.25);
    }
}

  .editors {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .editors__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .block-editors {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1.875rem;
    padding: 0rem 0.9375rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 1.875rem;
  }

  .block-editors__title {
    margin-bottom: 0rem;
    white-space: nowrap;
    width: auto;
    text-align: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-editors__text {
    margin-bottom: 0rem;
    width: auto;
    text-align: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-editors {
    max-width: 59.375rem;
  }
}

@media (max-width: 62em) {
  .footer-social {
    padding-right: inherit;
  }

  .content-editors {
    max-width: 95%;
    margin-left: 0rem;
    padding: 0rem 1.875rem;
  }
}

@media (max-width: 48em) {
  .header {
    padding-right: inherit;
  }

  .actions-header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0.625rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .actions-header__collections::after {
    padding-right: 0rem;
    display: none;
  }

  .menu__body {
    position: absolute;
    top: 0;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    left: 0;
    width: 16.875rem;
    height: 100vh;
    overflow: auto;
    background-color: rgba(77, 83, 86, 0.6509803922);
    padding: 9.375rem auto 1.875rem auto;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5.625rem;
    left: -100%;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    background-color: #4d5356;
  }

  .menu__link {
    color: #fff;
  }

  .menu__link:hover::after {
    content: "";
  }

  .menu__link_active::after {
    content: "";
    display: none;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-block__container {
    margin-left: inherit;
  }

  .main-block__container {
    margin-right: inherit;
  }
}

@media (max-width: 87.5em) {
@supports (margin-left: clamp( 1.875rem , -24.375rem  +  35vw , 6.25rem )) {
    .collections__cnt {
      margin-left: clamp( 1.875rem , -24.375rem  +  35vw , 6.25rem );
    }
}

@supports not (margin-left: clamp( 1.875rem , -24.375rem  +  35vw , 6.25rem )) {
    .collections__cnt {
      margin-left: calc(1.875rem + 4.375 * (100vw - 75rem) / 12.5);
    }
}

@supports (margin-right: clamp( 1.875rem , -24.375rem  +  35vw , 6.25rem )) {
    .collections__cnt {
      margin-right: clamp( 1.875rem , -24.375rem  +  35vw , 6.25rem );
    }
}

@supports not (margin-right: clamp( 1.875rem , -24.375rem  +  35vw , 6.25rem )) {
    .collections__cnt {
      margin-right: calc(1.875rem + 4.375 * (100vw - 75rem) / 12.5);
    }
}

  .body-collections {
    gap: 1.875rem;
  }

  .body-collections__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 87.5em) and (max-width: 75em) {
  .collections__cnt {
    margin-left: inherit;
  }

  .collections__cnt {
    margin-right: inherit;
  }
}

@media (max-width: 68.75em) {
  .above-the-sea {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .above-the-sea__image {
    margin: 0 auto;
  }

  .above-the-sea__body {
    padding: 0rem 1.875rem;
  }

  .body-above-the-sea__text {
    max-width: 100%;
  }

  .body-above-the-sea__button {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .header {
    z-index: 6;
  }

  .header__menu {
    z-index: 6;
  }

  .footer img {
    width: 12.5rem;
  }

  .footer-social {
    padding-right: 0.9375rem;
  }

  .content-editors__slider {
    width: 100%;
  }

  .content-editors__slide {
    width: 100%;
  }

  .content-editors__block-image {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }

  .content-editors__right-image {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .content-editors__right-image img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .content-editors__bottom-image {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .content-editors__bottom-image img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .content-editors__bottom-image img:first-child {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .content-editors .bottom-image__firts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    height: 16.875rem;
  }

  .content-editors .bottom-image__second {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    height: 16.875rem;
  }

  .content-editors .bottom-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    height: 16.875rem;
  }
}

@media (max-width: 47.999375em) {
  .menu {
    padding: 0.9375rem 0rem 0rem 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .main-block__container {
    margin: 0 auto;
  }

  .main-block__cnt {
    margin: 0 1.875rem 0 1.875rem;
  }

  .content-editors__cnt {
    margin: 0 1.875rem 0 1.875rem;
  }
}

@media (max-width: 40.625em) {
  .body-collections {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .body-collections__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-height: 100%;
  }

  .subscribe img {
    width: 28.125rem;
    -webkit-transform: translate(-50%, -35%);
        -ms-transform: translate(-50%, -35%);
            transform: translate(-50%, -35%);
  }

  .subscribe form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
    padding: 0rem 0.9375rem;
  }

  .subscribe__input {
    width: 100%;
  }

  .subscribe__button {
    width: 100%;
  }
}

@media (max-width: 37.5em) {
  .footer {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .footer-social {
    padding: 0.9375rem;
  }

  .above-the-sea__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 31.25em) {
  .header__top {
    background-color: #fee251;
  }

  .actions-header {
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .profile-action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__body {
    width: 100%;
  }

  .menu__list {
    width: 100%;
    padding-top: 5rem;
    padding-left: 0.625rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 31.25rem) {
  .header__logo img {
    width: 18.125rem;
  }
}

@media (max-width: 23.375em) {
  .main-block__actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-block__line_start {
    display: none;
  }

  .main-block__line_end {
    display: none;
  }

  .info-content__line_start {
    display: none;
  }

  .info-content__line_end {
    display: none;
  }

  .content-editors__actions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.875rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content-editors__line_start {
    display: none;
  }

  .content-editors__line_end {
    display: none;
  }
}

@media (max-width: 23.4375em) {
  .content-block__text {
    width: 100%;
  }
}

@media (max-width: 87.5em) and (min-width: 87.5em) {
  .collections__cnt {
    margin-left: inherit;
  }

  .collections__cnt {
    margin-right: inherit;
  }
}